.intro {
    background-image: url("./../images/background/intro_background.png");
    background-position: 50%;
    background-size: cover;
    padding-top: 170px;

    .intro-content {
        h2 {
            font-size: 40px;
            line-height: 47px;
            font-weight: 500;
            margin-bottom: 30px;
        }

        p {
            font-size: 16px;
            max-width: 600px;
            margin: 0 auto 35px;
            line-height: 1.5;
        }
    }

    .intro-image {
        margin-bottom: -110px;
    }

    .sub-info {
        background: rgb(9, 15, 62);
        z-index: 1;
        padding: 30px 0;
        position: relative;

        .sub-info__title {
            font-size: 18px;
        }

        .sub-info__desc {
            font-size: 16px;
            color: rgba(255, 255, 255, 0.5);
            padding-right: 20px;
        }
    }
}

.intro-btn {
    @include respond("tab-port") {
        margin-bottom: 50px;
    }

    margin-bottom: 35px;

    .btn-primary {
        padding: 20px 45px !important;
        min-width: 85px !important;
        border-radius: 8px !important;
        font-size: 14px;
        background-color: #34d1d6 !important;
        border-color: #34d1d6 !important;
        font-weight: 500;
    }

    .btn-outline-primary {
        padding: 10px 30px;
        font-weight: 500;
        font-size: 16px;
    }
}

.carousel {
    display: none;
    background: #090f3e !important;
    padding: 30px 20px 0 20px;
    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }
    .carousel-item {
        .carousel-caption {
            text-align: left !important;
            position: static !important;
            padding-top: 0 !important;
            h3 {
                font-size: 18px;
            }
            p {
                font-size: 14px;
                color: rgba(255, 255, 255, 0.5);
                line-height: 20px;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .intro {
        .intro-content {
            h2 {
                font-size: 32px !important;
                line-height: 44px !important;
                font-weight: 500 !important;
                text-align: left;
            }

            p {
                font-size: 14px !important;
                line-height: 17px !important;
                text-align: left;
                margin-left: 0 !important;
            }
        }

        .intro-image {
            margin-bottom: 30px !important;
        }

        .intro-btn {
            text-align: left !important;

            .btn-primary {
                font-size: 10px !important;
                padding: 15px 20px !important;
            }
        }

        .sub-info {
            display: none;
        }
    }
    .carousel {
        display: block !important;
    }
}
